.bg-img1 {
  background-color: #000;
  background-size: cover;
  width: max-content;
  height: 400px;
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  width: max-content;
  height: 400px;
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  width: max-content;
  height: 400px;
}
